
       1: <input type="date" appDate/><br><br>

       2: <input type="date" appDate1><br><br>

       2: {{date}}<br><br>
       3: <span>toLocaleDateString : </span>{{date.toLocaleDateString()}}<br><br>

       4: {{date}}<br><br>
       5: <span>toISOString : </span>{{date.toISOString()}}<br><br>

       6: <span>Day : </span>{{day}}<br><br>

       7: <span>Next Day : </span>{{nextDay}}<br><br>

       8: <span>Month : </span>{{month}}<br><br>

       9: <span>Next month : </span>{{nextMonth}}<br><br>

       10: <span>Year : </span>{{year}}<br><br>

       11: <span>Next year : </span>{{nextYear}}<br><br>

       12: transformiert: {{date1.toString()}}<br><br>

       13: {{date}}<br><br>

       14: toLocaleDateString: {{date.toLocaleDateString()}}<br><br>

       15: toISOString: {{date.toISOString()}}<br><br>

       16: {{date.toISOString().slice(0, 16)}}<br><br>

       17: {{date.toISOString().slice(0, 10)}}



